<ion-header>
  <ion-toolbar>
    <ion-title> Blog app Authentication </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Register</ion-button
        >
        <!-- <span class="divider">or</span> -->
        <span class="already">Or Already A User?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="primary"
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>